.signup-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  width: 80%;
  height: 80vh;
  /* background-color: red; */
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}
.signup-left-box {
  width: 50%;
  height: 80vh;
  background-color: #7033ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-left-heading {
  color: white;
  font-size: 20px;
}
.paragraph-text {
  color: yellow;
  font-size: 12px;
}
.signup-image {
  width: 30%;
}



/* bb */
.signup-right-box {
  width: 50%;
  padding: 10px;

}


.signup-fom{
  height: 70vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.signup-fom input{
    width: 90%;
    
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #a5a5a5;
     font-size: 15px;

}
.button-text{
   width: 94%;
   color: white;
   font-size: 15px;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #f96683;
    border-radius: 10px;  
}
.your-logo{
  width: 50px;
  height: 50px;
}